.right-pos {
	background-color: #ffffff;
}
p {
  text-align: right;
}
.pad4_10	{ padding: 4px 10px; }
.btn_01 { text-align: center; text-decoration: none; 
	color:  #000;	/* 文字色 */
	-webkit-border-radius: 3px; -moz-border-radius: 3px;
	text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
	-webkit-box-shadow: 1px 1px 2px #E7E7E7; -moz-box-shadow: 1px 1px 2px #E7E7E7;
	background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #000000 99%, #ccc); 
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F9), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF),to(#ccc));
	border: 1px solid; border-color: #ccc #999 #999 #ccc;
	font-size: 100%; }

.inner {
	padding: 1;
	display: flex;
	justify-content: space-evenly;
}

.gray-box{
	width:140px;
	height:30px;
	color:  #fff;               /* 文字色 */
	background:#808080;
	border-radius:  2px;        /* 角丸指定 */
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	height:30px;
	line-height:30px;
}

.blue-box{
	width:140px;
	height:30px;
	color:  #fff;               /* 文字色 */
	background:#4169e1;
	border-radius:  2px;        /* 角丸指定 */
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	height:30px;
	line-height:30px;
}

header {
width: 292px;
padding: 10px;
background: #4169e1;
color: #FFF;
}

h1 {
font-weight: bold;
font-size: 100%;
}

footer {
width: 292px;
padding: 10px;
background: #4169e1;
color: #FFF;
}

f1 {
font-weight: bold;
font-size: 80%;
}

